<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body class="body" style="font-family: Inter;">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="left" valign="top">
                    <table cellpadding="0" cellspacing="0" width="100%" align="center">
                        <tbody>

                            <tr>
                                <td align="center" valign="center" height="100px" bgcolor="#F8F5FF">
                                    <a href="#"><img src="https:// -public.s3.ap-southeast-1.amazonaws.com/image-removebg-preview.png"
                                            alt="  Logo" style="height: 50px;" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" height="100%" bgcolor="#FFFFFF">
                                    <table cellpadding="0" cellspacing="0" width="100%" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="center" vlign="center"
                                                    style="padding-top: 30px; font-weight: bold; font-size: 24px;">
                                                    Hello,
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" vlign="center"
                                                    style="padding-top: 35px;padding-bottom: 30px;  font-size: 20px;">
                                                    
                                                    {{senderOrg}} has wired {{ amount }} {{ currency }} to your bank account.<br />
                                                  <br/>
													Transaction details: <br/> 
                                                  <br/>
                                                  <b>Account Number </b>: {{ accountNumber }}<br />
                                                  <b>Bank Name </b>: {{ bankName }}<br />
                                                  <b>Bank Address</b> : {{ bankAddress }}<br />
                                                  <b>Bank Country</b> : {{ bankCountry }}<br />
                                                  <br/>
                                                    Please note, the funds' availability is subject to your bank's policies. <br/> We suggest checking with your bank to confirm receipt of this deposit.
 <br/>
                                                    <br />
                                                  At  , we're committed to near-instant and secure international transactions. <br/>Need assistance with your banking or payment needs? <a href="{{inviteLink}}" style="     
                                            font-family: 'Inter', sans-serif;
                                            text-decoration: none;
                                            color:  #7445F8;
                                            ">Signup today!</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" vlign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#F8F5FF">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" bgcolor="#F8F5FF"
                                                    style="padding: 20px; font-weight: 100;">
                                                    For queries, please e-mail us at <span
                                                        style="font-weight: 600;">contact@gmail.com</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="font-weight: 100; font-size: 14px;">
                                                      Tech Pte Ltd | 1 Raffles Place, #27-61A, One Raffles Place,
                                                    Singapore, SG (048616)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" width="60%" align="center"
                                                        style="padding: 40px">
                                                        <tbody>
                                                            <tr>
                                                                <td width="25%" align="center">
                                                                    <svg width="18" height="18" viewBox="0 0 18 18"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M3.75 0.997559C2.09314 0.997559 0.75 2.3407 0.75 3.99756V14.4976C0.75 16.1544 2.09314 17.4976 3.75 17.4976H14.25C15.9068 17.4976 17.25 16.1544 17.25 14.4976V3.99756C17.25 2.3407 15.9068 0.997559 14.25 0.997559H3.75ZM7.26136 5.70211C7.26136 4.3465 8.36033 3.24756 9.71588 3.24756H11.8977C12.0484 3.24756 12.1705 3.36967 12.1705 3.52029V5.70211C12.1705 5.85273 12.0484 5.97483 11.8977 5.97483H10.8068C10.3549 5.97483 9.98865 6.34114 9.98865 6.79301V7.61119H11.8977C11.9817 7.61119 12.061 7.64989 12.1127 7.71608C12.1644 7.78228 12.1827 7.86861 12.1623 7.95006L11.6168 10.1319C11.5865 10.2533 11.4774 10.3384 11.3523 10.3384H9.98865V14.9749C9.98865 15.1255 9.86655 15.2476 9.71588 15.2476H7.53412C7.38346 15.2476 7.26136 15.1255 7.26136 14.9749V10.3384H5.89773C5.74711 10.3384 5.625 10.2163 5.625 10.0657V7.88391C5.625 7.7333 5.74711 7.61119 5.89773 7.61119H7.26136V5.70211Z"
                                                                            fill="#6D589D" />
                                                                    </svg>

                                                                </td>
                                                                <td width="25%" align="center">
                                                                    <svg width="18" height="18" viewBox="0 0 18 18"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M3.75 0.997559C2.09314 0.997559 0.75 2.3407 0.75 3.99756V14.4976C0.75 16.1544 2.09314 17.4976 3.75 17.4976H14.25C15.9068 17.4976 17.25 16.1544 17.25 14.4976V3.99756C17.25 2.3407 15.9068 0.997559 14.25 0.997559H3.75ZM4.65341 6.17938C5.35945 6.17938 5.93182 5.60701 5.93182 4.90097C5.93182 4.19492 5.35945 3.62256 4.65341 3.62256C3.94736 3.62256 3.375 4.19492 3.375 4.90097C3.375 5.60701 3.94736 6.17938 4.65341 6.17938ZM5.93182 14.8726V7.20211H3.375V14.8726H5.93182ZM9.25568 7.20211H6.95455V14.8726H9.25568V10.2454C9.55215 9.76326 10.0635 9.24756 10.7898 9.24756C11.8125 9.24756 12.0682 10.2703 12.0682 10.7817V14.8726H14.625V10.7817C14.625 9.41136 14.0269 7.20211 11.8125 7.20211C10.4041 7.20211 9.62205 7.71594 9.25568 8.19726V7.20211Z"
                                                                            fill="#6D589D" />
                                                                    </svg>

                                                                </td>
                                                                <td width="25%" align="center">
                                                                    <svg width="18" height="18" viewBox="0 0 18 18"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M3.75 0.997559C2.09314 0.997559 0.75 2.3407 0.75 3.99756V14.4976C0.75 16.1544 2.09314 17.4976 3.75 17.4976H14.25C15.9068 17.4976 17.25 16.1544 17.25 14.4976V3.99756C17.25 2.3407 15.9068 0.997559 14.25 0.997559H3.75ZM13.8572 7.31353C13.9299 10.2994 11.5184 16.3471 3 13.0408C4.12966 13.0408 5.97143 12.6278 6.42857 12.1707C5.76191 12.0754 4.42857 11.5993 4.42857 10.4564H5.57143C5.55268 10.447 5.533 10.4372 5.51248 10.4271C4.90777 10.1267 3.57142 9.46288 3.57142 7.88496C3.85714 8.17071 4.32443 8.28726 4.71428 8.17071C4.12949 7.66182 2.82989 6.20789 3.85714 4.74211C4.71428 5.69449 6.88571 7.59925 8.71425 7.59925C8.42858 6.83735 8.71425 5.31353 10.1428 4.74211C11.5715 4.17069 12.5932 4.67743 13 5.31354C13.4986 5.27432 13.9462 5.01691 14.2498 4.84226C14.3167 4.80379 14.3766 4.76933 14.4286 4.74211C14.4286 4.76058 14.4286 4.77942 14.4287 4.7986C14.4301 5.20743 14.4319 5.77041 13.8442 6.17067C14.1299 6.3856 14.4286 6.47094 15 6.17067C15 6.65381 14.5491 7.12477 13.8572 7.31353Z"
                                                                            fill="#6D589D" />
                                                                    </svg>

                                                                </td>
                                                                <td width="25%" align="center">
                                                                    <svg width="18" height="18" viewBox="0 0 18 18"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M3.75 0.997559C2.09314 0.997559 0.75 2.3407 0.75 3.99756V14.4976C0.75 16.1544 2.09314 17.4976 3.75 17.4976H14.25C15.9068 17.4976 17.25 16.1544 17.25 14.4976V3.99756C17.25 2.3407 15.9068 0.997559 14.25 0.997559H3.75ZM3.375 6.99756C3.375 5.1336 4.88604 3.62256 6.75 3.62256H11.25C13.114 3.62256 14.625 5.1336 14.625 6.99756V11.4976C14.625 13.3615 13.114 14.8726 11.25 14.8726H6.75C4.88604 14.8726 3.375 13.3615 3.375 11.4976V6.99756ZM6.75 4.37256C5.30025 4.37256 4.125 5.54781 4.125 6.99756V11.4976C4.125 12.9473 5.30025 14.1226 6.75 14.1226H11.25C12.6997 14.1226 13.875 12.9473 13.875 11.4976V6.99756C13.875 5.54781 12.6997 4.37256 11.25 4.37256H6.75ZM12.75 6.37256C12.75 6.71773 12.4702 6.99756 12.125 6.99756C11.7798 6.99756 11.5 6.71773 11.5 6.37256C11.5 6.02738 11.7798 5.74756 12.125 5.74756C12.4702 5.74756 12.75 6.02738 12.75 6.37256ZM6.125 9.24756C6.125 7.65974 7.41218 6.37256 9 6.37256C10.5878 6.37256 11.875 7.65974 11.875 9.24756C11.875 10.8354 10.5878 12.1225 9 12.1225C7.41218 12.1225 6.125 10.8354 6.125 9.24756ZM9 7.12256C7.8264 7.12256 6.875 8.07396 6.875 9.24756C6.875 10.4212 7.8264 11.3725 9 11.3725C10.1736 11.3725 11.125 10.4212 11.125 9.24756C11.125 8.07396 10.1736 7.12256 9 7.12256Z"
                                                                            fill="#6D589D" />
                                                                    </svg>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>

</html>